<a href="https://colab.research.google.com/github/alvaroferrerrizzo/Employee-Churn-Predictive-Model/blob/master/Reby/finance/kernel_get_transaction_data/kernal_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import json
import pandas as pd
import requests
import time
import os
import datetime
from google.cloud import bigquery
import re

In [1]:
cos = ['reby','oiz','avant','tucycle','iberscot','reby_spain','reby_italy']
cos_ids = ['acc_3rjqcmjjct5qey8tstf1','acc_3rjqcudcqm5817xsldx1',
           'acc_3rjqcqpfc144km6bdch1','acc_3rjqcs9fnxk3la3zp5yh',
           'acc_3rjqctd816yhqq7ufj81','acc_3su61k4l3n61dfmsgrah',
           'acc_3su61kkje19lqp9a728h']

In [3]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="reby-cloud.json"

In [13]:
def send_to_bigquery(df,dataset,table):
	#client = bigquery.Client(project = 'reby-cloud')
	table_id = 'reby-cloud.'+dataset+'.'+table
	print('table_id: {}'.format(table_id))
	#print(df)
	job_config = bigquery.LoadJobConfig()
	#job_config.schema_autodetect = True
	job_config.write_disposition = 'WRITE_TRUNCATE'
	job_config.create_disposition = 'CREATE_IF_NEEDED'
	job = client.load_table_from_dataframe(df, table_id,job_config=job_config)
	# Wait for the load job to complete.
	result = job.result()
	#print(result)
	return 'dataframe appended'

In [7]:
client = bigquery.Client(project = 'reby-cloud')
#get the dataframe with the last update from bigquery
df_last_update = client.query('''
    select
    company as relevant_company,
    max(ts) as max_ts
	from (

	select 
		company,
		timestamp(regexp_extract(created_at_main, r"\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}.\d{4}")) as ts
	from `reby-cloud.kernel_eu.bank_payout_list`

	union all 

	select 
		company,
		timestamp(regexp_extract(created_at_main, r"\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}.\d{4}")) as ts
	from `reby-cloud.kernel_eu.transfer_list`

	union all 

	select 
		company,
		timestamp(regexp_extract(created_at_main, r"\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}.\d{4}")) as ts
	from `reby-cloud.kernel_eu.bank_payout_list`
	)
	group by 1
''' ).to_dataframe()

df_last_update['max_ts'] = df_last_update['max_ts'].apply(lambda x: x.replace(tzinfo=None))

In [8]:
df_last_update

  relevant_company                     max_ts
0             reby 2021-06-03 06:01:08.956500
1              oiz 2021-06-04 01:00:19.158900
2            avant 2021-06-03 22:27:42.175300
3          tucycle 2021-06-03 19:36:09.080300
4         iberscot 2021-06-03 22:39:00.865800

In [16]:
#Bearer live_secretkey_3m9khmufqsgct1llddu1_13383aeb28127115180a92bac880957cc6faa71936b44529

auth_token='live-mob_secretkey_3san8rtxkt5ezlbz34m1_43c759a649130e2512e45d8a071d15c8904b391bd808b5a2'
hed = {'Authorization': 'Bearer ' + auth_token}

url_main = 'https://api.kernelpay.com/v1'

transfer_list = []
cardpayin_list = []
bankpayout_list = []
error_list = []

#Bearer live_secretkey_3m9khmufqsgct1llddu1_13383aeb28127115180a92bac880957cc6faa71936b44529

auth_token='live-mob_secretkey_3san8rtxkt5ezlbz34m1_43c759a649130e2512e45d8a071d15c8904b391bd808b5a2'
hed = {'Authorization': 'Bearer ' + auth_token}

url_main = 'https://api.kernelpay.com/v1'

transfer_list = []
cardpayin_list = []
bankpayout_list = []
error_list = []

def fetch_kernel_data(event, context):
	#-------
	#fetch data from kernel and upload it to bigquery
	#-------
	for company,account_id in zip(cos,cos_ids):

		#Get the last timestamp available for that company
		mask = df_last_update['relevant_company'] == company
		company_data = df_last_update[mask]
		last_timestamp_company_bigquery = company_data.max_ts
		print(f'last timestamp bigquery {last_timestamp_company_bigquery} for {company}')
		#------

		print(company)
		print(account_id)
	
		#set core url
		url_account_tx = url_main+'/accounts/'+account_id+'/transactions?expand=transfer,card_payin&limit=50'
		i=0
		has_next = 'True'
		continue_ = 'True'
		
		while has_next == 'True' and continue_ == 'True':# and i<=60:
		
		#print( "i counter {}".format(i))
			if i == 0:
				fetch_url = url_account_tx
			elif i>0:
				fetch_url = url_account_tx+'&cursor='+cursor_next

			response = requests.get(fetch_url, headers=hed)
			response_json = response.json()
			
			for j in range(len(response_json['data'])):
				
				#reset variables
				#-----
				id = None
				amount = None
				currency = None
				type_main = None
				created_at = None
				destination_account_id = None
				destination_transaction_id = None
				transfer_id = None
				source_account_id = None
				source_transaction_id = None
				type_meta = None
				card_payin_id = None
				card_payin_refund_id = None
				refunded_value = None
				transaction_id_meta = None
				#-----
				#print("type - {}".format(response_json['data'][0]['type']))

				try:
					id = response_json['data'][j]['id']
					amount = response_json['data'][j]['value']['amount']
					currency = response_json['data'][j]['value']['currency']
					type_main = response_json['data'][j]['type']
					created_at_main = response_json['data'][j]['created_at']

					if type_main == 'transfer_destination' or type_main == 'transfer_source':
						created_at = response_json['data'][j]['transfer']['created_at']
						destination_account_id = response_json['data'][j]['transfer']['destination_account_id']
						destination_transaction_id = response_json['data'][j]['transfer']['destination_transaction_id']
						transfer_id = response_json['data'][j]['transfer']['id']
						source_account_id = response_json['data'][j]['transfer']['source_account_id']
						source_transaction_id = response_json['data'][j]['transfer']['source_transaction_id']
						try:
							type_meta = response_json['data'][j]['transfer']['meta']['transaction_type']
						except:
							type_meta = 'not_available'
						try:
							backend_account_id = response_json['data'][j]['transfer']['meta']['backend_account_id']
						except:
							backend_account_id = None
							
						transfer_list.append([company,id,created_at,created_at_main,destination_account_id
										,destination_transaction_id, transfer_id, source_account_id, 
										source_transaction_id, amount, currency, type_main, type_meta, backend_account_id])
						#i = i + 1
						#print("success")

					elif type_main in ['card_payin','card_payin_refund','card_payin_dispute',
                        'card_payin_dispute_refund','card_payin_dispute_lost']:# or type_main == 'card_payin_refund':
						created_at = response_json['data'][j]['card_payin']['created_at']
						destination_account_id = response_json['data'][j]['account_id']
						card_payin_id = response_json['data'][j]['card_payin_id']
						card_payin_refund_id = response_json['data'][j]['card_payin_refund_id']
						refunded_value = response_json['data'][j]['card_payin']['refunded_value']['amount']
						
						try:
							type_meta = response_json['data'][j]['card_payin']['meta']['transaction_type']
						except:
							type_meta = 'not_available'

						try:
							transaction_id_meta = response_json['data'][j]['card_payin']['meta']['transaction_id']
						except:
							transaction_id_meta = None

						try:
							top_up_id = response_json['data'][j]['card_payin']['meta']['top_up_id']
						except:
							top_up_id = None
						
						#user_id = response_json['data'][0]['card_payin']['meta']['user_id']


						cardpayin_list.append([company,id,created_at,created_at_main,destination_account_id,
												amount, currency, type_main, type_meta, card_payin_id,
												card_payin_refund_id,transaction_id_meta,refunded_value, top_up_id])
						#i = i + 1
						#print("success")

					elif type_main == 'bank_payout':

						bankpayout_list.append([company,id,amount,currency,type_main,created_at_main])
						#i = i + 1

					else:
						id = response_json['data'][j]['id']
						amount = response_json['data'][j]['value']['amount']
						type_main = response_json['data'][j]['type']
						error_list.append([company,id,amount,type_main,'unknown_type'])
						print("here")

				except Exception as e:
					id = response_json['data'][j]['id']
					amount = response_json['data'][j]['value']['amount']
					type_main = response_json['data'][j]['type']
					error_list.append([company,id,amount,type_main,e])
					#print(response_json)
					#i = i + 1
					#print("error")
					print("here2")
					print(type_main)
					print(id)

			created_at_str = created_at_main
			timestamp_regex = re.findall(
						r"\d{4}-\d{1,2}-\d{1,2}T\d{1,2}:\d{1,2}:\d{1,2}.\d{1,5}",created_at_str)
			created_at_regex_unique = timestamp_regex[0]
			created_at_formatted = datetime.datetime.strptime(created_at_regex_unique, '%Y-%m-%dT%H:%M:%S.%f')

			if company_data.empty:
				continue_ = 'True'

			elif created_at_formatted and created_at_formatted >  last_timestamp_company_bigquery.item():
				#print(f'last created_at in kernel batch: {created_at_formatted}')
				#print(f'last created_at in bigquery: {last_timestamp_company_bigquery.item()}')
				continue_ = 'True'
			else:
				#print(f'last created_at in kernel batch: {created_at_formatted}')
				print(f'last created_at in bigquery: {last_timestamp_company_bigquery.item()}')
				continue_ = 'False'

			cursor_next = response_json.get('cursor_next')
			has_next = str(response_json.get('has_next'))
			#print("cursor_next {}".format(cursor_next))
			#print(f'hast next: {has_next}')
			#print(f'continue: {continue_}')
			i = i + 1
			time.sleep(0.1)
  
fetch_kernel_data('a','b')

last timestamp bigquery 0   2021-06-03 06:01:08.956500
Name: max_ts, dtype: datetime64[ns] for reby
reby
acc_3rjqcmjjct5qey8tstf1
here
here
here
last created_at in bigquery: 2021-06-03 06:01:08.956500
last timestamp bigquery 1   2021-06-04 01:00:19.158900
Name: max_ts, dtype: datetime64[ns] for oiz
oiz
acc_3rjqcudcqm5817xsldx1
last created_at in bigquery: 2021-06-04 01:00:19.158900
last timestamp bigquery 2   2021-06-03 22:27:42.175300
Name: max_ts, dtype: datetime64[ns] for avant
avant
acc_3rjqcqpfc144km6bdch1
here
here
here
here
here
here
last created_at in bigquery: 2021-06-03 22:27:42.175300
last timestamp bigquery 3   2021-06-03 19:36:09.080300
Name: max_ts, dtype: datetime64[ns] for tucycle
tucycle
acc_3rjqcs9fnxk3la3zp5yh
last created_at in bigquery: 2021-06-03 19:36:09.080300
last timestamp bigquery 4   2021-06-03 22:39:00.865800
Name: max_ts, dtype: datetime64[ns] for iberscot
iberscot
acc_3rjqctd816yhqq7ufj81
last created_at in bigquery: 2021-06-03 22:39:00.865800
last timestamp bigquery Series([], Name: max_ts, dtype: datetime64[ns]) for reby_spain
reby_spain
acc_3su61k4l3n61dfmsgrah
last timestamp bigquery Series([], Name: max_ts, dtype: datetime64[ns]) for reby_italy
reby_italy
acc_3su61kkje19lqp9a728h

In [17]:
transfer_list_df = pd.DataFrame(transfer_list)
if len(transfer_list) >  0:
    transfer_list_df.columns = ['company','id','created_at','created_at_main','destination_account_id'
                            ,'destination_transaction_id', 'transfer_id', 'source_account_id', 
                            'source_transaction_id', 'amount', 'currency', 'type_main', 'type_meta','backend_account_id']
    

cardpayin_list_df = pd.DataFrame(cardpayin_list)
if len(cardpayin_list) >  0:
    cardpayin_list_df.columns = ['company','id','created_at','created_at_main','destination_account_id',
                                          'amount', 'currency', 'type_main', 'type_meta', 'card_payin_id',
                                 'card_payin_refund_id','transaction_id_meta','refunded_value','top_up_id']

bankpayout_list_df = pd.DataFrame(bankpayout_list)
if len(bankpayout_list) >  0:
    bankpayout_list_df.columns = ['company','id','amount','currency','type_main','created_at_main']

error_list_df = pd.DataFrame(error_list)
if len(error_list) >  0:
    error_list_df.columns = ['company','error_ids','amount','type','reason']

In [18]:
error_list_df.head(20)

  company                error_ids  ...                     type        reason
0    reby  tx_3t3nmqr9rb67dxqzspx1  ...  card_payin_dispute_lost  unknown_type
1    reby  tx_3t3nmqr8zgskyavxy6m1  ...  card_payin_dispute_lost  unknown_type
2    reby  tx_3t3nmqr7c4dcuhsf7m61  ...  card_payin_dispute_lost  unknown_type
3   avant  tx_3t3ngj4r4srqbys4h8y1  ...  card_payin_dispute_lost  unknown_type
4   avant  tx_3t3ngj4qc1hs77hlqql1  ...  card_payin_dispute_lost  unknown_type
5   avant  tx_3t3ngj4pank1shqh7fn1  ...  card_payin_dispute_lost  unknown_type
6   avant  tx_3t3ngj4nman9tkgtv24h  ...  card_payin_dispute_lost  unknown_type
7   avant  tx_3t3ngj4mmgkq5yrcvzjh  ...  card_payin_dispute_lost  unknown_type
8   avant  tx_3t3ngj4kaar3lhu5431h  ...  card_payin_dispute_lost  unknown_type

[9 rows x 5 columns]

In [ ]:
transfer_list_df.to_csv('transfer_list.csv')
cardpayin_list_df.to_csv('card_payin_list.csv')

In [ ]:
#print(json.dumps(response_json, indent=2))

In [ ]:
len(response_json['data'])

10

In [ ]:
auth_token='live-mob_secretkey_3san8rtxkt5ezlbz34m1_43c759a649130e2512e45d8a071d15c8904b391bd808b5a2'
hed = {'Authorization': 'Bearer ' + auth_token}
final_json = []
url_main = 'https://api.kernelpay.com/v1'

account_id = 'acc_3rjqcudcqm5817xsldx1'
url_account_tx = url_main+'/accounts/'+account_id+'/transactions?expand=transfer,card_payin&limit=10'

transaction_id = 'tx_3rn9ejt594fab8b5cnyh'
url_tx  = url_main+'/transactions/'+transaction_id+'?expand=transfer,card_payin&limit=2'

print(url_account_tx)

#url = 'https://api.kernelpay.com/v1/accounts/acc_3rjqcudcqm5817xsldx1/transactions?expand=transfer'
#url_next = 'https://api.kernelpay.com/v1/accounts/acc_3rjqcudcqm5817xsldx1/transactions?expand=transfer'

response = requests.get(url_tx
                        , headers=hed)
#print(response)
#print(response.json())
response_json = response.json()

response_json

https://api.kernelpay.com/v1/accounts/acc_3rjqcudcqm5817xsldx1/transactions?expand=transfer,card_payin&limit=10

{'id': 'tx_3rn9ejt594fab8b5cnyh',
 'project_id': 'prj_3rhmr1vp8xcnxvfktus1',
 'account_id': 'acc_3rjqcmjjct5qey8tstf1',
 'type': 'card_payin',
 'value': {'amount': 2000, 'currency': 'EUR'},
 'balance_after': {'amount': -21, 'currency': 'EUR'},
 'transfer_id': None,
 'bank_payout_id': None,
 'card_payin_id': 'cpi_3rks1xu5bh1bty9vxb7h',
 'card_payin_refund_id': None,
 'card_payin_dispute_id': None,
 'bank_payin_id': None,
 'card_payin': {'id': 'cpi_3rks1xu5bh1bty9vxb7h',
  'project_id': 'prj_3rhmr1vp8xcnxvfktus1',
  'state': 'settled',
  'card_id': None,
  'sca_card_id': None,
  'account_id': 'acc_3rjqcmjjct5qey8tstf1',
  'transaction_id': 'tx_3rn9ejt594fab8b5cnyh',
  'calculated_statement_descriptor': 'KernelPay',
  'authentication_type': 'none',
  'authentication_url': '',
  'authentication_redirect_url': '',
  'value': {'amount': 2000, 'currency': 'EUR'},
  'refunded_value': {'amount': 0, 'currency': 'EUR'},
  'meta': {},
  'offline': None,
  'created_at': '2020-07-27T09:01:25.431443456Z'},
 'created_at': '2020-08-12T13:00:08.257921024Z'}

In [ ]:
len(response_json['data'])

32

In [ ]:
from google.cloud import bigquery

def send_to_bigquery(df,dataset,table):
     client = bigquery.Client(project = 'reby-cloud')
     table_id = 'reby-cloud.'+dataset+'.'+table
     print('table_id: {}'.format(table_id))
     #print(df)
     job_config = bigquery.LoadJobConfig()
     job_config.schema_autodetect = True
     job_config.write_disposition = 'WRITE_TRUNCATE'
     job_config.create_disposition = 'CREATE_IF_NEEDED'
     job = client.load_table_from_dataframe(df, table_id,job_config=job_config)
     # Wait for the load job to complete.
     result = job.result()
     #print(result)
     return 'dataframe appended'

In [ ]:
send_to_bigquery(transfer_list_df,'kernel_eu','transfer_list')
send_to_bigquery(cardpayin_list_df,'kernel_eu','card_payin_list')
send_to_bigquery(bankpayout_list_df,'kernel_eu','bank_payout_list')

table_id: reby-cloud.kernel_eu.transfer_list

/Users/alvaroferrer/anaconda3/lib/python3.7/site-packages/google/cloud/bigquery/_pandas_helpers.py:275: UserWarning: Unable to determine type of column 'company'.
  warnings.warn(u"Unable to determine type of column '{}'.".format(column))

table_id: reby-cloud.kernel_eu.card_payin_list
table_id: reby-cloud.kernel_eu.bank_payout_list

'dataframe appended'